.medicineTitle {
    color: white;
    font-size: 22px;
    margin: 10px;
}

.sectionHolder {
    display: block;
    width: 500px;
    text-align: center;
}

.sectionHolder2 {
    display: block;
    width: 500px;
    text-align: left;
}

.medicineInfoHolder {
    margin: auto;
    margin-top: 40px;
    background-color: #1E2D2F;
    width: 1000px;
    height: 300px;
    border-radius: 6px;
}

.elementsHolder {
    display: flex;
}

.productImg {
    margin-top: 20px;
    height: 150px;
    margin-bottom: 20px;
}

.productInfoPar {
    text-align: left;
    margin-top: 15px;
    margin-left: 10px;
}

.medicineInfoHolder2 {
    margin: auto;
    margin-top: 40px;
    background-color: #1E2D2F;
    width: 1000px;
    height: 270px;
    border-radius: 6px;
    overflow: auto;
    align-items: center;
}

.pharmacyInfoHolder {
    background-color: aliceblue;
    margin: auto;
    margin: 20px;
    height: 60px;
    border-radius: 6px;
    display: flex;
}

.pharmacyTitle {
    color: #1E2D2F;
    font-size: 18px;
    padding: 20px;
}

.pharmacyReviewInfo {
    margin-right: 0px;
    margin-left: auto;
    display: flex;
}

.pharmacyInfoPar {
    color: #1E2D2F;
    font-size: 16px;
    padding: 20px;
}

.starImg {
    height: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

.starHolder {
    display: flex;
    margin: 20px;
}

.addCartBtn {
    background-color: #91AF9D;
}
