.medicineHolder {
  text-align: center;
  width: 200px;
  align-items: center;
  margin: 10px;
  cursor: pointer;
}


.imgHolder {
    width: 150px;
    height: 100%;
    border-radius: 6px;
    padding: 10px;
    text-align: center;
}

.container {
    display: flex;
    height: 100%;
    margin: 0;
  }

  /* Set the width of the first column to 200px and the background color to gray */
  .column-1 {
   
    text-align: left;
    position: relative;
    left: 0;
    margin-left: 0;
  }

  /* Set the width of the second column to the remaining space and the background color to white */
  .column-2 {
    flex: 1;
    margin: 20px;
    margin: auto;
    text-align: center;
    align-items: center;
    margin-left: 100px;
  }

  .medicinesHolder {
    margin: 20px;
    margin: auto;
  }
