
.color-nav {
    background-color: var(--dark);
}

.color-p {
    color: var(--light);
}

.search {
    width: 100%;
    position: relative;
    display: flex;
  }
  
  .searchTerm {
    width: 100%;
    border: 3px solid var(--light);
    border-right: none;
    padding: 5px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
  }
  
  .searchTerm:focus{
    color: var(--dark);
  }
  
  .searchButton {
    width: 40px;
    border: 1px solid var(--light);
    background: var(--light);
    color: var(--light);
    text-align: center;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }
  