
.presch1 {
    font-size: 16px;
    color: var(--cardFont);
    padding-top: 0.4rem;
}

.prescPar {
    color: var(--cardFont);
    margin-bottom: 0;
}

.itemHolder {
    background-color: var(--cardLight);
    text-align: center;
    border-radius: 6px;
    margin-top: 2rem;
    width: 1000px;

}

.borders {
    border-color: var(--cardDark);
    border-width: 2px;
    border-right-style: solid;


}
.detailsButton {
    display: block;
    height: 30px;
    border-radius: 8px;
    margin-left: auto;
    border-color: var(--cardDark);
    background-color: var(--cardDark);
    color: var(--cardFont);
    font-size: 16px;
    padding: 10px;
    text-align: center;
    margin-bottom: 0.3rem;
    margin-top: 0;
}

.button-holder {
    text-align: right;
}

.detailsHolder {
    background-color: var(--cardDark);
    margin-top: 0;
    text-align: left;
    border-radius: 8px;
    width: 1000px;
    display: flex;
}

.prescLi {
    margin-left: 1rem;
    color: var(--cardFont);
    margin-bottom: 4px;
}

.prescLi2 {
    color: var(--cardFont);
    margin: auto;
    margin-top: 10%;
}

.prescHolder {
    margin: auto;
    width: 1100px;
    max-height: 40rem;
    overflow: auto;
    margin-top: 1rem;
}

::-webkit-scrollbar {
    width: 0.5rem;
    background-color: var(--cardLight);
  }

  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.25); 
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--dark); 
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #202022; 
  }

.drugNamesList {
    display: block;
    margin: 2px;
}

.drugDescList {
    display: flex;
}