h1 {
    font-size: 16px;
    color: #183a1d;
}

p {
    color: #183a1d;
}

.itemHolder {
    background-color: #f6c453;
    text-align: center;
}

.borders {
    border-color: #f0a04b;
    border-radius: 2px;
    border-width: 2px;
    border-style: solid;
}
button {
    width: 20px;
    height: 30px;
    
}