.selectionHolder {
    background-color: #91AF9D;
    width: 700px;
    height: 620px;
    border-radius: 6px;
    margin: 60px;
    margin: auto;
    margin-top: 50px;

}

.divPrescArranger {
    display: flex;
}

.prescFirstCol {
    display: flex;
    width: 700px;
    padding: 0;
    margin: 0;
    margin-top: 20px;
    text-align: left;
}

.prescTitle {
    font-size: 20px;
    color: white;
    margin-left: 20px;
    margin-top: 10px;
}

.prescTitle2 {
    font-size: 20px;
    color: white;
    text-align: left;
    margin-top: 30px;
    margin-left: 30px;
}

.addMedicineBtn {
    padding: 10px;
    margin-right: 10px;
    margin-left: 280px;
}

.prescSecondCol {
    width: 650px;
    margin: auto;
    height: 300px;
    overflow: auto;
}

.medicineInPresc {
    width: 630px;
    margin: auto;
    height: 70px;
    background-color: #7C9485;
    display: flex;
    border-radius: 6px;
    margin-bottom: 30px;
    margin-top: 20px;
}

.medicineContentPar {
    font-size: 16px;
    color: white;
    padding: 20px;
}

.verticalLine {
    width: 1px;
    height: 60px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: white;
    margin-top: 5px;
  }

  .verticalLineBlack {
    width: 2px;
    height: 400px;
    margin-left: 2px;
    margin-right: 10px;
    background-color: rgb(0, 0, 0);
    margin-top: 5px;
    z-index: 999;
  }



.deleteMedicineBtn {
    background-color: #620a0a;
    font-size: 12px;
    text-align: center;
    margin: auto;
    padding-left: 6px;
    padding-right: 6px;
}

.prescThirdCol {
    width: 650px;
    height: 150px;
    margin-top: 20px;
    margin: auto;
    
}

.medicineSelectionDiv {
    display: flex;
}

.medicineSearcherBox {
    margin-top: 40px;
    margin-left: 70px;
}

.nextButtonHolder {
    margin-top: 470px;
}

.dosageHolder {
    background-color: #7C9485;
    border-radius: 6px;
    display: block;
    width: 500px;
    height: 300px;
    margin: auto;
    margin-top: 40px;
}

.dosageDropdownHolder {
    display: flex;
}

.dosageInput {
    width: 200px;
    font-size: 16px;
    margin: auto;
    margin-top: 30px;
    height: 40px;
}

.dosageInput2 {
    width: 150px;
    font-size: 16px;
    margin: auto;
    margin-top: 30px;
    height: 40px;
}

.dosageInput3 {
    width: 450px;
    font-size: 16px;
    margin: auto;
    margin-top: 30px;
    height: 100px;
}

.dosageBtnHolder {
    margin-top: 60px;
}

.dosageBtn1 {
    
    margin: auto;
    margin-left: 30px;
}

.dosageBtn2 {
    margin-left: 430px;
}

.submitPrescBtn {
    margin-left: 470px;
}

.alertDiv {
    width: 100%;
    margin: 0;
}